{% extends "layout.html" %}

{% block content %}

{% if page == 'login' %}
<form method="POST">
    {% csrf_token %}

    <label> Username </label>
    <input type="text" name="username" placeholder="Enter username" />
    <br>

    <label> Password </label>
    <input type="password" name="password" placeholder="Enter password" />
    <br>

    <button type="submit"> Login </button>
    <p> Haven't signed up yet? </p>
    <a href="    {% url 'register' %}    "> Register </a>
</form>

{% else %}

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit"> Register </button>
</form>
<p> Already signed up? </p>
<a href="    {% url 'login' %}    "> Login </a>

{% endif %}


{% endblock %}